html {
    font-family: 'Roboto', sans-serif;
}

body {
    margin: 0;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: #1f2937;
    color: white;
}

.left-links {
    display: flex;
    font-size: 24px;
    color: #f9faf8;
}

.right-links {
    display: flex;
    gap: 20px;
    color: #e5e7eb;
}

.hero-container {
    display: flex;
    background-color: #1f2937;
    padding: 100px;
    gap: 25px;
}

.awesome-container {
    display: flex;
    flex-direction: column;
    flex: 1;
    align-items: left;
    margin: 0;
}

#awesome-heading {
    margin: 0;
    color: white;
    font-size: 48px;
    font-weight: bolder;
}

#awesome-text {
    font-size: 18px;
    color: #e5e7eb;
}

.img-placeholder {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
    color: #e5e7eb;
    background-color: #e7e9ec3c;
    margin: 0;
}

.signup-button {
    width: 80px;
    padding: 8px;
    color: white;
    background-color: #3882f6;
    border: none;
    border-radius: 8px;
}

.info-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.box-container {
    display: flex;
    gap: 20px;
    justify-content: space-around;
}

.box {
    width: 150px;
    height: 150px;
    flex-shrink: 1;
    border: 2px solid #3882f6;
    border-radius: 10px;
}

.subtext-container {
    display: flex;
    gap: 25px;
}

.subtext {
    width: 150px;
    font-size: 12px;
    margin-top: 10px;
    color: gray;
}